body {
    background-color: #edf2f4;
    font-family: sans-serif;
}

.container {
    width: 300px;
    margin: 0 auto;
}

.logo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.titolo {
    text-align: center;
}

.titolo h1 {
    font-size: 24px;
    font-weight: bold;
    color: #a9d1e9;
}

.contenuto {
    margin-top: 15px;
}

.contenuto p {
    font-size: 14px;
    font-weight: normal;
    color: #222;
}

.bottone {
    text-align: center;
    margin-top: 15px;
}

.bottone a {
    background-color: #a9d1e9;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 0 5px #a9d1e9;
}

.bottone a:hover {
    background-color: #93c4e4;
}
