.Grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

.Carta {
    position: relative;
    text-align: center;
    margin: 5px;
    max-width: 500px;
}

.Banner{
    text-align: center;
}

.Banner img{
    max-width: 100%;
    height: auto;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.name {
    font-size: small;
    padding: 2px 16px;
}

.price {
    font-weight: bold;
    padding: 1px 16px;
}