body {
    font-family: Arial, sans-serif;
}

.containerIndex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stemma{
    width: 50%;
    text-align: center;
    margin : 2% 0;
    box-sizing: border-box;
}

.banner{
    width: 100%;
    display: flex;
    align-items: center;
}

.banner img{
    width: 100%;
}