:root{
    --main-blue: #005BFF;
    --main-dark-blue: #171D8D;
    --main-white: #fff;
    --main-cyan: #4b6499;
    --main-black: #000;
}

/*top nav css */
.topnav {
    background-color: white;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.topnav a {
    margin-left: 20px;
    font-family: Arial, sans-serif;
    color: black;
    text-decoration: underline;
    font-size: 13px;
}

.topnav img {
    margin-left: auto;
    width: 25px;
    height:auto;
}

/*Center Nav*/
.centernav{
    background-color: #005BFF;
    display: flex;
    padding: 10px 20px;
    align-items: center;
}

.containerForm{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    width: 100%;
}

#logo{
    justify-content: flex-start;
}

.searchform {
    display: inline-block;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

#search-input {
    border: none;
    font-size: 24px;
    padding: 11px;
}

#search-button {
    background-color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#search-image {
    width: 24px;
    height: 24px;
}

/*Down navbar*/
.downbar {
    background-color: #171D8D;
    overflow: hidden;
    width: 100%;
}

.downbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.downbar a:hover {
    background-color: #4b6499;
    color: white;
}

/* Stile per il contenitore dei dropdown */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Stile per il pulsante del dropdown */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.dropdown:hover .dropbtn {
    background-color: #4b6499;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #4b6499;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Login-Register Form*/
.Hidden{
    display: none;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.container .registration{
    display: none;
}
#check:checked ~ .registration{
    display: block;
}
#check:checked ~ .login{
    display: none;
}
#check{
    display: none;
}
.container .form{
    padding: 2rem;
}
.form header{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
}
.form input{
    height: 60px;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    margin-bottom: 1.3rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}
.form input:focus{
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.form a{
    font-size: 16px;
    color: var(--main-blue);
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}
.form input.button{
    color: #fff;
    background: var(--main-blue);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1.7rem;
    cursor: pointer;
    transition: 0.4s;
}
.form input.button:hover{
    background: var(--main-blue);
}
.signup{
    font-size: 17px;
    text-align: center;
}
.signup label{
    color: var(--main-blue);
    cursor: pointer;
}
.signup label:hover{
    text-decoration: underline;
}