/* Stile per il div principale */
#container {
    width: 100%; /* Occupa l'intera larghezza disponibile */

    padding: 20px; /* Spazio interno per separare il contenuto dalla cornice */
    display: flex; /* Utilizza un layout flessibile */
}


.colonna {
    flex: 1;
    padding: 10px;
    background-color: #fff;

    margin-right: 10px;
}

/* Stile per le colonne verticali */
#colonna1 {
    display: flex; /* Larghezza della prima colonna (due volte la larghezza della seconda colonna) */
    flex-direction: column;
    align-items: center;
    padding: 10px; /* Spazio interno per separare il contenuto dalla cornice */

     /* Cornice leggera */
    margin-right: 10px; /* Spazio tra le colonne */
}

#immaginePrincipale {
    width: 600px; /* Larghezza fissa per l'immagine principale */
    height: auto; /* Altezza fissa per l'immagine principale */
    margin-bottom: 10px; /* Spazio inferiore tra l'immagine principale e le immagini piccole */
}


.piccola {
    width: 100px;
    height: auto;
    cursor: pointer;
}

#colonna2 {
    flex: 1; /* Larghezza della seconda colonna */
    padding: 10px; /* Spazio interno per separare il contenuto dalla cornice */

}

.contenitore-riga {
    display: flex;
    align-items: center;
}

.stemma {
    margin-right: 10px;
}

.fraseDiv {
    font-size: 18px;
}

.stemma img {
    width: 50px; /* Larghezza desiderata */
    height: auto; /* L'altezza si adatta proporzionalmente alla larghezza */
}

h2 {
    font-weight: normal; /* Rimuove il grassetto */
}

.taglie {
    width: 70%; /* Imposta la larghezza del div (puoi regolarla come desideri) */
    padding:0; /* Aggiunge spazio interno al div */
    background-color: #e3e3e3; /* Colore di sfondo del div */
    font-size: 20px; /* Dimensione del testo all'interno del div */
}



.quantita{
    font-size: 20px;
    font-weight: normal;
}

.dropdown-select {
    padding: 10px; /* Aggiunge spazio interno all'elemento */
    font-size: 16px; /* Imposta la dimensione del testo */
    border: 1px solid #ccc; /* Aggiunge un bordo sottile con colore grigio (#ccc) */
    border-radius: 5px; /* Arrotonda gli angoli del bordo */
    width: 50px; /* Imposta una larghezza predefinita di 200px */

}

.aggiungi-carrello{
    padding: 10px 85px; /* Aggiunge spazio interno ai bottoni (altezza x larghezza) */
    font-size: 17px; /* Dimensione del testo nei bottoni */
    background-color: mediumblue; /* Colore di sfondo dei bottoni */
    color: #ffffff; /* Colore del testo */
    border: none; /* Rimuove il bordo del bottone */
    margin: 5px; /* Aggiunge spazio tra i bottoni */
    cursor: pointer; /* Cambia il cursore quando si passa sopra il bottone */
    border-radius: 5px; /* Bordo arrotondato */
}

/* Stile del contenitore */
.select-and-button {
    display: flex; /* Imposta i figli (select e bottone) in una riga */
    align-items: center; /* Allinea verticalmente al centro */
}

/* Spazio tra select e bottone */
.select-and-button select {
    margin-right: 360px; /* Riduci lo spazio tra il select e il bottone */
    margin-bottom: 10px;
}

/* Stile del select */
.select-and-button .dropdown-select {
    padding: 10px; /* Aggiunge spazio interno al select */
    font-size: 16px; /* Dimensione del testo nel select */
    border: 1px solid #ccc; /* Bordo del select */
    border-radius: 5px; /* Bordo arrotondato */
}

/* Stile del select quando è attivo (aperto) */
.select-and-button .dropdown-select:focus {
    outline: none; /* Rimuovi l'outline predefinito */
    border-color: #007BFF; /* Cambia il colore del bordo quando il select è attivo */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Aggiunge una leggera ombra quando il select è attivo */
}


/* Stile della box titolo */
.box-titolo {

    padding: 5px;


    margin: 20px;
    cursor: pointer; /* Cambia il cursore al passaggio del mouse per indicare l'interattività */
}

/* Stile del titolo */
.box-titolo h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.descrizione-spedizione{
    display: none;
}

.descrizione{
    display: none;
}

/* Stile del pulsante */
.bottonePezzotto a {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

/* Stile del pulsante al passaggio del mouse */
.bottonePezzotto a:hover {
    background-color: #0056b3; /* Cambia il colore di sfondo al passaggio del mouse */
}


a{
    text-decoration: none;
}

.bottone {
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 16px;
}

.bottone option {
    padding: 5px 10px;
    font-size: 16px;
}

